.box {
    display: gird;
    width: 240px;
    height: 240px;
    margin: 100px;
    background-color: greenyellow;
    border-radius: 12px;
    border: solid pink;
}

.box:hover{
    transform: rotateZ(60deg);
    background-color: lightcoral;
    opacity: 50%;
    transition: 2s;
}